
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header-blue {
    background-color: #eae8ff;
    height: 70px;
    padding: 5px; 
    /* color: white; */
  }
  .App-header-red {
    background-color: #FF0000;
    height: 40px;
    /* padding: 5px; */
    /* color: white; */
  }
  